{% extends 'default.html' %}

{% block content %}

<br>
{%  if consumption_list %}
    <table>
        <tr>
            <th>
                Дата
            </th>
            <th>
                Адрес
            </th>
            <th>
                Название
            </th>
            <th>
                Количество
            </th>
            <th>
                Описание
            </th>
        </tr>
    {% for product in consumption_list %}
        <tr>
            <td>
                {{ product.time_creating | date:'d.m.Y H:i' }}
            </td>
            <td>
                {{ product.address }}
            </td>
            <td>
                {{ product.name }}
            </td>
            <td>
                {{ product.quantity }}
            </td>
            <td>
                {{ product.description }}
            </td>
            <td>
                <a href="{% url 'expense_update' product.slug %}">Редактировать</a>
            </td>
        </tr>
    {% endfor %}
    </table>
{%  else %}
    <h1>пусто</h1>
{% endif %}

{% endblock content %}