{% extends 'default.html' %}

{% block content %}

<br>
<div>
    <a href="{% url 'object_add' %}">Добавить</a>
</div>
<br>

{%  if object_list %}
<table>
    <tr>
        <th>
            Дата
        </th>
        <th>
            Адрес
        </th>
        <th>
            Назначение
        </th>
    </tr>
{% for object in object_list %}
    <tr>
        <td>
            {{ object.date_create | date:'d.m.Y' }}
        </td>
        <td>
            <a href="{% url 'object_detail' object.slug %}">{{ object.address }}</a>
        </td>
        <td>
            {{ object.purpose }}
        </td>
        <td>
            <a href="{% url 'object_update' object.slug %}">Редактировать</a>
        </td>
        <td>
            <a href="{% url 'object_delete' object.slug %}">Удалить</a>
        </td>
    </tr>
{% endfor %}
</table>
{%  else %}
<h1>пусто</h1>
{% endif %}

{% endblock content %}