{% extends 'default.html' %}

{% block content %}

<br>
<a href="{% url 'product_add' %}" title="Добавить" style="position: absolute; right: 763px; top: 60px">
    <img src="/static/images/icon_add.png" width="25" height="25">
</a>
<br>
{%  if products %}
    <table class="table_gpon">
        <tr>
            <th>
                Код
            </th>
            <th>
                Название
            </th>
            <th>
                Количество
            </th>
            <th>
                Цена
            </th>
        </tr>
    {% for product in products %}
        <tr>
            <td>
                {{ product.code }}
            </td>
            <td>
                <a href="{% url 'product_detail' product.slug %}">{{ product.name }}</a>
            </td>
            <td>
                {{ product.quality }}
            </td>
            <td>
                {{ product.price }}
            </td>
        </tr>
    {% endfor %}
    </table>
{%  else %}
    <h1>пусто</h1>
{% endif %}

{% endblock content %}
