{%extends 'default.html' %}

{% block content %}

<hr>
<ul class="actions_1">
    <li>
        <form method="GET">
            {{ filter.form }}
            <button class="button_cancel_form" type="submit">Найти</button>
        </form>
    </li>
    <li>
        <a href="{% url 'house_create' %}" title="Добавить дом">
            <img src="/static/images/icon_add.png" width="25" height="25">
        </a>
    </li>
</ul>
<hr>

{%  if filter.qs %}
    <table class="table_gpon">
        <tr>
            <th style="width: 220px">
                Адрес
            </th>
            <th style="width: 150px">
                Статус ВОЛС
            </th>
            <th style="width: 125px">
                Статус заявки
            </th>
            <th style="width: 200px">
               Примечание
            </th>
            <th style="width: 10px">
            </th>
        </tr>
    {% for house in filter.qs %}
        <tr>
            <td>
                {{ house.address }}
            </td>
            <td>
                {{ house.status }}
            </td>
            <td>
                {% if house.request.all %}
                    {% for i in house.request.all %}
                        {% if i.status is False and not i.date_con %}
                            <a href="{% url 'requests_new' %}">Новая</a>
                        {% elif i.status is False and i.date_con %}
                            <a href="{% url 'requests_in_progress' %}">Выполняется</a>
                        {% elif i.status is True %}
                            <a href="{% url 'requests_completed' %}">Завершена</a>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <a href="{% url 'request_create' house.pk %}">Добавить заявку</a>
                {% endif %}
            </td>
            <td>
                {{ house.note }}
            </td>
            <td>
                <a href="{% url 'house_update' house.pk %}" title="Изменить">
                    <img src="/static/images/icon_edit.png" width="23" height="23">
                </a>
            </td>
        </tr>
    {% endfor %}
    </table>
{%  else %}
    <h1 style="text-align: center">По вашему запросу ничего не найдено</h1>
{% endif %}

{% endblock content %}
