{%extends 'default.html' %}

{% load search_pagination %}

{% block content %}

<hr>
<ul class="actions_1">
    <li>
        <form method="GET">
            {{ filterset.form }}
            <button class="button_cancel_form" type="submit">Найти</button>
        </form>
    </li>
    <li>
        <a href="{% url 'address_create' %}" title="Добавить дом">
            <img src="/static/images/icon_add.png" width="25" height="25">
        </a>
    </li>
</ul>
<hr>

{%  if object_list %}
    <table class="table_gpon">
        <tr>
            <th style="width: 220px">
                Адрес
            </th>
            <th style="width: 150px">
                Статус ВОЛС
            </th>
            <th style="width: 125px">
                Статус заявки
            </th>
            <th style="width: 200px">
               Примечание
            </th>
            <th style="width: 10px">
            </th>
        </tr>
    {% for house in object_list %}
        <tr>
            <td>
                {{ house.address }}
            </td>
            <td>
                {{ house.status }}
            </td>
            <td>
                {% if house.request %}
                    {% if house.request.status is False and not house.request.date_con %}
                        Новая
                    {% elif house.request.status is False and house.request.date_con %}
                        Выполняется
                    {% elif house.request.status is True %}
                        Завершена
                    {% endif %}
                {% else %}
                    <a href="{% url 'request_create' house.pk %}">Добавить заявку</a>
                {% endif %}
            </td>
            <td>
                {{ house.note }}
            </td>
            <td>
                <a href="{% url 'house_update' house.pk %}" title="Изменить">
                    <img src="/static/images/icon_edit.png" width="23" height="23">
                </a>
            </td>
        </tr>
    {% endfor %}
    </table>
{%  else %}
    <h1 style="text-align: center">По вашему запросу ничего не найдено</h1>
{% endif %}
<br>
<div class="center">
    <div class="pagination">
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a href="?{% param_replace page=1 %}">«</a>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.paginator.num_pages > 1 %}
                    {% if page_obj.number == num %}
                        <a class="active">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <a href="?{% param_replace page=num %}">{{ num }}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <a href="?{% param_replace page=paginator.num_pages %}">»</a>
            {% endif %}
        {% endif %}
    </div>
</div>

{% endblock content %}
