{% extends 'default.html' %}
{% block content %}

<h3 class="center">{{ house.address }}</h3>

<form method="POST">
    {% csrf_token %}
    <table class="table_gpon_form">
    <tr>
        <th>
            Статус
        </th>
        <th>
            Примечание
        </th>
    </tr>
    <tr>
        <td>
            {{ form.status }}
        </td>
        <td>
            {{ form.note }}
        </td>
    </tr>
    </table>
    <br>
    <div style="text-align: center">
        <button class="button_add_form" type="submit">Сохранить</button>
        <a class="button_cancel_form" href="javascript:window.history.back()" role="button">Отменить</a>
    </div>
</form>

{% endblock %}
