{%extends 'default.html' %}

{% block content %}

<div class="center">
    <form class="actions-2" method="GET">
        {{ req_all.form }}
        <button type="submit">OK</button>
    </form>
</div>
{{ test }}
{{ req_all.qs.count }}
<ul class="actions_1">
    <li>
        <table>
            <tr>
                <th colspan="2">Статус домов</th>
            </tr>
            <tr>
                <td>Нет кабеля</td>
                <td>{{ houses.cable }}</td>
            </tr>
            <tr>
                <td>Нужна сварка</td>
                <td>{{ houses.welding }}</td>
            </tr>
            <tr>
                <td>Готов к подключению</td>
                <td>{{ houses.ready }}</td>
            </tr>
            <tr>
                <td>Всего домов</td>
                <td>{{ houses.total }}</td>
            </tr>
        </table>
    </li>
    <li>
        <table>
            <tr>
                <th colspan="2">Статус заявок</th>
            </tr>
            <tr>
                <td>Неактивная</td>
                <td>{{ req_inac.qs.count }}</td>
            </tr>
            <tr>
                <td>Новая</td>
                <td>{{ req_new.qs.count }}</td>
            </tr>
            <tr>
                <td>Выполняется</td>
                <td>{{ req_pro.qs.count }}</td>
            </tr>
            <tr>
                <td>Завершена</td>
                <td>{{ req_com.qs.count }}</td>
            </tr>
            <tr>
                <td>Всего заявок</td>
                <td>{{ req_all.qs.count }}</td>
            </tr>
        </table>
    </li>
    <li>
        <table>
            <tr>
                <th colspan="2">Стоимость</th>
            </tr>
            <tr>
                <td>Подключений</td>
                <td>{{ cost.connections }}</td>
            </tr>
            <tr>
                <td>Тарифов</td>
                <td>{{ cost.tariffs }}</td>
            </tr>
            <tr>
                <td>Роутеров</td>
                <td>{{ cost.routers }}</td>
            </tr>
            <tr>
                <td>Общая</td>
                <td>{{ cost.total }}</td>
            </tr>
        </table>
    </li>
</ul>
<br>







{% endblock content %}