{%extends 'default.html' %}

{% block content %}

<br>
<div class="center">
  <div class="menu-status">
    <a href="{% url 'requests_inactive' %}">Неактивные</a>
    <a href="{% url 'requests_new' %}">Новые</a>
    <a href="{% url 'requests_in_progress' %}">Выполняются</a>
    <a class="active" href="{% url 'requests_completed' %}">Завершенные</a>
  </div>
</div>
<div class="center">
    <div style="display: inline-block">
        <form class="actions-2" method="GET">
            {{ filterset.form }}
            <button type="submit">OK</button>
        </form>
    </div>
    <div style="margin: 0 0 0 10px; display: inline-block">
        Всего: {{ page_obj.paginator.count }}
    </div>
</div>
{%  if object_list %}
    <table class="table_gpon">
        <tr>
            <th style="width: 220px">
                Адрес
            </th>
            <th style="width: 220px">
                ФИО
            </th>
            <th style="width: 130px">
                Телефон
            </th>
            <th style="width: 60px">
                Дата заявки
            </th>
            <th style="width: 90px">
                Дата подключения
            </th>
            <th style="width: 90px">
                Тариф (Мбит/с)
            </th>
            <th>
                Модель ONT
            </th>
            <th style="width: 120px">
                Модель Wi-Fi роутера
            </th>
            <th style="width: 100px">
                Оптический патч-корд
            </th>
            <th style="width: 90px">
                Стоимость подключения
            </th>
            <th style="width: 170px">
                Монтажники
            </th>
            <th style="width: 170px">
                Менеджер
            </th>
            <th style="width: 200px">
               Примечание
            </th>
            <th style="width: 20px">
            </th>
        </tr>
    {% for house in object_list %}
        <tr>
            <td style="text-align: left">
                {{ house.address }}
            </td>
            <td style="text-align: left">
                {{ house.name }}
            </td>
            <td>
                {{ house.phone }}
            </td>
            <td>
                {% if house.user %}
                <span style="cursor: help" title="Заявку принял {{ house.user.last_name }} {{ house.user.first_name }}">
                    {{ house.date_req|date:'d.m.Y' }}
                </span>
                {% else %}
                    {{ house.date_req|date:'d.m.Y' }}
                {% endif %}
            </td>
            <td>
                {{ house.date_con|date:'d.m.Y H:i' }}
            </td>
            <td>
                <span style="cursor: help" title="Стоимость {{ house.tariff_cost }} р.">
                    {{ house.tariff.speed }}
                </span>
            </td>
            <td>
                {{ house.ont }}
            </td>
            <td>
                {% if house.router is None %}
                    -----
                {% else %}
                    <span style="cursor: help" title="Стоимость {{ house.router_cost }} р.">
                        {{ house.router }}
                    </span>
                {% endif %}
            </td>
            <td>
                {% if house.cord is None %}
                    {% if house.whose_cord is True %}
                        Абонентский
                    {% else %}
                        -----
                    {% endif %}
                {% else %}
                    <span style="cursor: help" title="Код: {{ house.cord.code }}">
                        {{ house.cord }}
                    </span>
                {% endif %}
            </td>
            <td>
                {% if house.discount != 0 %}
                    <span style="cursor: help" title="С учётом скидки {{ house.discount }} р.">
                        {{ house.cost_con }}
                        <img src="/static/images/icon_info.png" width="20" height="20">
                    </span>
                {% else %}
                    {{ house.cost_con }}
                {% endif %}
            </td>
            <td style="text-align: left">
                {% for i in house.installer.all %}
                    {{ i.last_name }} {{ i.first_name }}<br>
                {% endfor %}
            </td>
            <td style="text-align: left">
                {{ house.manager.last_name }} {{ house.manager.first_name }}
            </td>
            <td style="text-align: left">
                {% if house.discount != 0 %}
                    Скидка {{ house.discount }} р.<br>
                    {{ house.note }}
                {% else %}
                    {{ house.note }}
                {% endif %}
            </td>
            <td style="text-align: center">
                <form  class="resume" id="{{ house.date_update|date:'Y-m-d' }}" action="{% url 'request_resume' house.pk %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" style="background-color:transparent; border-color:transparent;" title="Возобновить">
                        <img src="/static/images/icon_resume.png" width="23" height="23">
                    </button>
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>
    {% if is_paginated %}
        <div class="center" style="margin: 10px 0 0 0">{{ page_obj.start_index }}-{{ page_obj.end_index }} из {{ page_obj.paginator.count }}</div>
    {% endif %}
{%  else %}
    <h2 class="center">Заявок нет</h2>
{% endif %}

<script>
    const list = document.querySelectorAll('.resume');
    const now = new Date();

    for (i in list) {
        const date = new String(list[i].id).slice(0, 10);
        const el = document.getElementById(list[i].id);
        const old = new Date(date);

        if (Math.floor((now.getTime() - old.getTime())/86400000) >= 7) {
            el.style.display = "none";
        }
    }
</script>

{% include "pagination.html" %}

{% endblock content %}
