{%extends 'default.html' %}

{% block content %}

<h3 class="center">{{ request.address }}</h3>

<style>
   li {
    list-style-type: none; /* Убираем маркеры */
   }
   ul {
    padding-left: 0; /* Сдвигаем список влево */
   }
</style>
<form method="POST">
    {% csrf_token %}
    <table class="table_gpon_form">
    <tr>
        <th>
            ФИО
        </th>
        <th>
            Телефон
        </th>
        <th>
           Примечание
        </th>
    </tr>
    <tr>
        <td>
            {{ form.name }}
        </td>
        <td>
            {{ form.phone }}
        </td>
        <td>
            {{ form.note }}
        </td>
    </tr>
    </table>
    <br>
    <div style="text-align: center">
        <button class="button_add_form" type="submit">Сохранить</button>
        <a class="button_cancel_form" href="javascript:window.history.back()" role="button">Отменить</a>
    </div>
</form>

{% endblock content %}
