{%extends 'request.html' %}

{% block content %}

{%  if requests %}
    <table class="table_gpon">
        <tr>
            <th style="width: 220px">
                Адрес
            </th>
            <th>
                Статус ВОЛС
            </th>
            <th style="width: 220px">
                ФИО
            </th>
            <th style="width: 130px">
                Телефон
            </th>
            <th style="width: 60px">
                Дата заявки
            </th>
            <th style="width: 90px">
                Тариф (Мбит/с)
            </th>
            <th style="width: 100px">
                Модель ONT
            </th>
            <th style="width: 120px">
                Модель Wi-Fi роутера
            </th>
            <th style="width: 350px">
               Примечание
            </th>
            <th style="width: 20px">
            </th>
        </tr>
    {% for house in requests %}
        <tr>
            <td style="text-align: left">
                {{ house.address }}
            </td>
            <td>
                {{ house.address.status }}
            </td>
            <td style="text-align: left">
                {{ house.name }}
            </td>
            <td>
                {{ house.phone }}
            </td>
            <td>
                {{ house.date_req|date:'d.m.Y' }}
            </td>
            <td>
                {{ house.tariff.speed }}
            </td>
            <td>
                {% if house.ont is None %}
                    -----
                {% else %}
                    {{ house.ont }}
                {% endif %}
            </td>
            <td>
                {% if house.router is None %}
                    -----
                {% else %}
                    {{ house.router }}
                {% endif %}
            </td>
            <td style="text-align: left">
                {{ house.note }}
            </td>
            <td>
                <a href="{% url 'request_update' house.pk %}" title="Изменить">
                    <img src="/static/images/icon_edit.png" width="23" height="23">
                </a>
            </td>
        </tr>
    {% endfor %}
    </table>
{%  else %}
    <h1>пусто</h1>
{% endif %}

{% if is_paginated %}
    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}
{% endif %}
{% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
        <a>{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a href="?page={{ num }}">{{ num }}</a>
    {% endif %}
{% endfor %}
{% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">>>></a>
    <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
{% endif %}

{% endblock content %}
