{%extends 'default.html' %}

{% block content %}
<hr>
<div class="center">
  <div class="menu-status">
    <a href="{% url 'requests_new' %}">Новые</a>
    <a class="active" href="{% url 'requests_in_progress' %}">Выполняются</a>
    <a href="{% url 'requests_completed' %}">Завершенные</a>
  </div>
</div>
<hr>
{%  if requests %}
    <table class="table_gpon">
        <tr>
            <th style="width: 220px">
                Адрес
            </th>
            <th style="width: 220px">
                ФИО
            </th>
            <th style="width: 130px">
                Телефон
            </th>
            <th style="width: 60px">
                Дата заявки
            </th>
            <th style="width: 90px">
                Дата подключения
            </th>
            <th style="width: 90px">
                Тариф (Мбит/с)
            </th>
            <th>
                Модель ONT
            </th>
            <th style="width: 120px">
                Модель Wi-Fi роутера
            </th>
            <th style="width: 170px">
                Монтажники
            </th>
            <th style="width: 170px">
                Менеджер
            </th>
            <th style="width: 200px">
               Примечание
            </th>
            <th style="width: 60px">
            </th>
        </tr>
    {% for house in requests %}
        <tr>
            <td style="text-align: left">
                {{ house.address }}
            </td>
            <td style="text-align: left">
                {{ house.name }}
            </td>
            <td>
                {{ house.phone }}
            </td>
            <td>
                {{ house.date_req|date:'d.m.Y' }}
            </td>
            <td>
                {{ house.date_con|date:'d.m.Y H:i' }}
            </td>
            <td>
                {{ house.tariff.speed }}
            </td>
            <td>
                {% if house.ont is None %}
                    -----
                {% else %}
                    {{ house.ont }}
                {% endif %}
            </td>
            <td>
                {% if house.router is None %}
                    -----
                {% else %}
                    {{ house.router }}
                {% endif %}
            </td>
            <td style="text-align: left">
                {% for i in house.installer.all %}
                    {{ i.last_name }} {{ i.first_name }}<br>
                {% endfor %}
            </td>
            <td style="text-align: left">
                {{ house.manager.last_name }} {{ house.manager.first_name }}
            </td>
            <td style="text-align: left">
                {% if house.discount != 0 %}
                    Скидка {{ house.discount }} р.<br>
                    {{ house.note }}
                {% else %}
                    {{ house.note }}
                {% endif %}
            </td>
            <td>
                <ul class="actions_2">
                    <li>
                        <a href="{% url 'request_update' house.pk %}" title="Изменить">
                            <img src="/static/images/icon_edit.png" width="23" height="23">
                        </a>
                    </li>
                    <li>
                        <form action="{% url 'request_finish' house.pk %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" style="background-color:transparent; border-color:transparent;" title="Завершить">
                                <img src="/static/images/icon_complete.png" width="23" height="23">
                            </button>
                        </form>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </table>
{%  else %}
    <h2 class="center">Заявок нет</h2>
{% endif %}
<br>
{% include "pagination.html" %}

{% endblock content %}
