{%extends 'default.html' %}

{% block content %}
<br>
<div class="center">
  <div class="menu-status">
    <a href="{% url 'requests_new' %}">Новые</a>
    <a class="active" href="{% url 'requests_in_progress' %}">Выполняются</a>
    <a href="{% url 'requests_completed' %}">Завершенные</a>
  </div>
</div>
<br>
{% for message in messages %}
    <div class="center" style="color: red">
        {{ message }}
    </div>
    <br>
{% endfor %}
{%  if object_list %}
    <table class="table_gpon">
        <tr>
            <th style="width: 220px">
                Адрес
            </th>
            <th style="width: 220px">
                ФИО
            </th>
            <th style="width: 130px">
                Телефон
            </th>
            <th style="width: 60px">
                Дата заявки
            </th>
            <th style="width: 90px">
                Дата подключения
            </th>
            <th style="width: 90px">
                Тариф (Мбит/с)
            </th>
            <th>
                Модель ONT
            </th>
            <th style="width: 120px">
                Модель Wi-Fi роутера
            </th>
            <th style="width: 100px">
                Оптический патч-корд
            </th>
            <th style="width: 170px">
                Монтажники
            </th>
            <th style="width: 170px">
                Менеджер
            </th>
            <th style="width: 200px">
               Примечание
            </th>
            <th></th>
        </tr>
    {% for house in object_list %}
        <tr>
            <td style="text-align: left">
                {{ house.address }}
            </td>
            <td style="text-align: left">
                {{ house.name }}
            </td>
            <td>
                {{ house.phone }}
            </td>
            <td>
                {{ house.date_req|date:'d.m.Y' }}
            </td>
            <td>
                {{ house.date_con|date:'d.m.Y H:i' }}
            </td>
            <td><span style="cursor: help" title="Стоимость {{ house.tariff_cost }} р.">
                {{ house.tariff.speed }}</span>
            </td>
            <td>
                {% if house.ont is None %}
                    -----
                {% else %}
                    {{ house.ont }}
                {% endif %}
            </td>
            <td>
                {% if house.router is None %}
                    -----
                {% else %}
                    <span style="cursor: help" title="Стоимость {{ house.router_cost }} р.">
                        {{ house.router }}
                    </span>
                {% endif %}
            </td>
            <td>
                {% if house.cord is None %}
                    {% if house.whose_cord is True %}
                        Абонентский
                    {% else %}
                        -----
                    {% endif %}
                {% else %}
                    {{ house.cord }}
                {% endif %}
            </td>
            <td style="text-align: left">
                {% for i in house.installer.all %}
                    {{ i.last_name }} {{ i.first_name }}<br>
                {% endfor %}
            </td>
            <td style="text-align: left">
                {{ house.manager.last_name }} {{ house.manager.first_name }}
            </td>
            <td style="text-align: left">
                {% if house.discount != 0 %}
                    Скидка {{ house.discount }} р.<br>
                    {{ house.note }}
                {% else %}
                    {{ house.note }}
                {% endif %}
            </td>
            <td>
                <ul>
                    <li>
                        <a href="{% url 'request_update' house.pk %}" title="Изменить">
                            <img src="/static/images/icon_edit.png" width="23" height="23">
                        </a>
                    </li>
                    <li>
                        <form action="{% url 'request_finish' house.pk %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" title="Завершить">
                                <img src="/static/images/icon_complete.png" width="24" height="24">
                            </button>
                        </form>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </table>
    {% if is_paginated %}
        <div class="center" style="margin: 10px 0 0 0">{{ page_obj.start_index }}-{{ page_obj.end_index }} из {{ page_obj.paginator.count }}</div>
    {% else %}
        <div class="center" style="margin: 10px 0 0 0">Всего: {{ page_obj.end_index }}</div>
    {% endif %}
{%  else %}
    <h2 class="center">Заявок нет</h2>
{% endif %}
<div class="center">
    <div class="pagination">
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a href="?page=1" title="Первая страница">«</a>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.paginator.num_pages > 1 %}
                    {% if page_obj.number == num %}
                        <a class="active">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <a href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.paginator.num_pages }}" title="Последняя страница: {{ page_obj.paginator.num_pages }}">»</a>
            {% endif %}
        {% endif %}
    </div>
</div>

{% endblock content %}
