{%extends 'default.html' %}

{% block content %}

<br><br>
<form method="POST">
    {% csrf_token %}
    <table class="table_gpon" style="width: auto; align: center;">
    <tr>
        <th style="width: 170px">
            ФИО
        </th>
        <th style="width: 90px">
            Телефон
        </th>
        <th style="width: 120px">
            Дата подключения
        </th>
        <th >
            Тариф
        </th>
        <th style="width: 100px">
            Модель ONT
        </th>
        <th >
            Модель Wi-Fi роутера
        </th>
        <th style="width: 130px">
           Примечание
        </th>
    </tr>
    <tr>
        <td>
            {{ form.name }}
        </td>
        <td>
            {{ form.phone }}
        </td>
        <td>
            {{ form.date_con }}
        </td>
        <td>
            {{ form.tariff }}
        </td>
        <td>
            {{ form.ont }}
        </td>
        <td>
            {{ form.router }}
        </td>
        <td>
            {{ form.note }}
        </td>
    </tr>
    </table>
    <br>
    <div style="text-align: center">
        <button class="button_add_form" type="submit">Сохранить</button>
        <a class="button_cancel_form" href="javascript:window.history.back()" role="button">Отменить</a>
    </div>
</form>

{% endblock content %}
