{%extends 'default.html' %}

{% block content %}

<br><br>
<style>
   li {
    list-style-type: none; /* Убираем маркеры */
   }
   ul {
    padding-left: 0; /* Сдвигаем список влево */
   }
</style>
<form method="POST">
    {% csrf_token %}
    <table class="table_gpon">
    <tr>
        <th>
            ФИО
        </th>
        <th>
            Телефон
        </th>
        <th>
            Дата подключения
        </th>
        <th>
            Тариф
        </th>
        <th>
            Модель ONT
        </th>
        <th>
            Модель Wi-Fi роутера
        </th>
        <th style="width: 200px">
            Монтажники
        </th>
        <th style="width: 120px">
            Менеджер
        </th>
        <th>
           Примечание
        </th>
    </tr>
    <tr>
        <td>
            {{ form.name }}
        </td>
        <td>
            {{ form.phone }}
        </td>
        <td>
            {{ form.date_con }}
        </td>
        <td>
            {{ form.tariff }}
        </td>
        <td>
            {{ form.ont }}
        </td>
        <td>
            {{ form.router }}
        </td>
        <td style="text-align: left">
            {{ form.installer }}
        </td>
        <td>
            {{ form.manager }}
        </td>
        <td>
            {{ form.note }}
        </td>
    </tr>
    </table>
    <br>
    <div style="text-align: center">
        <button class="button_add_form" type="submit">Сохранить</button>
        <a class="button_cancel_form" href="javascript:window.history.back()" role="button">Отменить</a>
    </div>
</form>

{% endblock content %}
