{%extends 'default.html' %}

{% block content %}
<br><br>
<form method="POST">
    {% csrf_token %}
    <table class="table_default">
    <tr>
        <th style="width: 200px">
            Адрес
        </th>
        <th style="width: 110px">
            IP
        </th>
        <th style="width: 130px">
            MAC
        </th>
        <th style="width: 200px">
            Модель
        </th>
        <th style="width: 200px">
            Прошивка
        </th>
        <th style="width: 200px">
            Серийный номер
        </th>
        <th>
            Примечание
        </th>
    </tr>
    <tr>
        <td>
            <input style="width: 190px; outline:none" type="text" name="switch_address">
        </td>
        <td>
            <input style="width: 100px; outline:none" type="text" name="switch_ip">
        </td>
        <td>
            <input style="width: 120px; outline:none" type="text" name="switch_mac">
        </td>
        <td>
            <input style="width: 190px; outline:none" type="text" name="switch_model">
        </td>
        <td>
            <input style="width: 190px; outline:none" type="text" name="switch_firmware">
        </td>
        <td>
            <input style="width: 190px; outline:none" type="text" name="switch_serial">
        </td>
        <td>
            <input style="width: 715px; outline:none" type="text" name="switch_note">
        </td>
    </tr>
    </table>
    <br>
    <div style="text-align: center">
        <button class="button_add_form" type="submit">Добавить</button>
        <a class="button_cancel_form" href="{% url 'switch_list' %}" role="button">Отмена</a>
    </div>
</form>

{% endblock content %}
