{% extends 'default.html' %}

{% block content %}

<br>
<div>
    <a href="{% url 'address_add' %}">Добавить</a>
</div>
<br>

{%  if address_list %}
<table>
    <tr>
        <th>
            Адрес
        </th>
    </tr>
{% for address in address_list %}
    <tr>
        <td>
            <a href="{% url 'address_detail' address.slug %}">{{ address.name }}</a>
        </td>
        <td>
            <a href="{% url 'address_update' address.slug %}">Редактировать</a>
        </td>
        <td>
            <a href="{% url 'address_delete' address.slug %}">Удалить</a>
        </td>
    </tr>
{% endfor %}
</table>
{%  else %}
<h1>пусто</h1>
{% endif %}

{% endblock content %}