{%extends 'default.html' %}

{% block content %}

<br><br>
<form method="POST">
    {% csrf_token %}
    <div class="center" style="color: red">
        {{form.ip.errors}}
        {{form.mac.errors}}
        {{form.serial.errors}}
    </div>
    <table class="switch-form">
    <tr>
        <th>
            Адрес
        </th>
        <th>
            IP
        </th>
        <th>
            MAC
        </th>
        <th>
            Модель
        </th>
        <th>
            Прошивка
        </th>
        <th>
            Серийный номер
        </th>
        <th>
            Примечание
        </th>
    </tr>
    <tr>
        <td>
            {{ form.address }}
        </td>
        <td>
            {{ form.ip }}
        </td>
        <td>
            {{ form.mac }}
        </td>
        <td>
            {{ form.model }}
        </td>
        <td>
            {{ form.firmware }}
        </td>
        <td>
            {{ form.serial }}
        </td>
        <td>
            {{ form.note }}
        </td>
    </tr>
    </table>
    <br>
    <div style="text-align: center">
        <button class="button_add_form" type="submit">Сохранить</button>
        <a class="button_cancel_form" href="javascript:window.history.back()" role="button">Отменить</a>
    </div>
</form>

{% endblock content %}
