{%extends 'default.html' %}

{% block content %}

<h1 style="text-align: center;">Коммутатор №{{ switch.order }}</h1>

<table class="table_detail">
    <tr>
        <th style="width: 200px">
            Адрес
        </th>
        <th style="width: 110px">
            IP
        </th>
        <th style="width: 130px">
            MAC
        </th>
        <th style="width: 150px">
            Модель
        </th>
        <th style="width: 150px">
            Прошивка
        </th>
        <th style="width: 150px">
            Серийный номер
        </th>
        <th style="width: 200px">
            Примечание
        </th>
        <th style="width: 100px">
            Изменил
        </th>
        <th style="width: 80px">
            Дата
        </th>
    </tr>
    <tr>
        <td>
            {{ switch.address }}
        </td>
        <td>
            {{ switch.ip }}
        </td>
        <td>
            {{ switch.mac }}
        </td>
        <td>
            {{ switch.model }}
        </td>
        <td>
            {{ switch.firmware }}
        </td>
        <td>
            {{ switch.serial }}
        </td>
        <td>
            {{ switch.note }}
        </td>
        <td>
            {{ switch.user }}
        </td>
        <td>
            {{ switch.date|date:'d.m.Y H:i' }}
        </td>
    </tr>
</table>
<br>
{% comment %}
{% if is_Administrators %}
<div style="text-align: center">
   <br><a class="button_edit" href="{% url 'switch_update' switch.id %}">Редактировать</a><br>
</div>
{% endif %}
{% endcomment %}
{%  if history %}
<h3 style="text-align: center">История изменений:</h3>
    <table class="table_detail">
        <tr>
            <th style="width: 200px">
                Адрес
            </th>
            <th style="width: 110px">
                IP
            </th>
            <th style="width: 130px">
               MAC
            </th>
            <th style="width: 150px">
                Модель
            </th>
            <th style="width: 150px">
                Прошивка
            </th>
            <th style="width: 150px">
                Серийный номер
            </th>
            <th style="width: 200px">
                Примечание
            </th>
            <th style="width: 100px">
                Изменил
            </th>
            <th style="width: 80px">
                Дата
            </th>
        </tr>
    {% for switch in history %}
        <tr>
            <td>
                {{ switch.address }}
            </td>
            <td>
                {{ switch.ip }}
            </td>
            <td>
                {{ switch.mac }}
            </td>
            <td>
                {{ switch.model }}
            </td>
            <td>
                {{ switch.firmware }}
            </td>
            <td>
                {{ switch.serial }}
            </td>
            <td>
                {{ switch.note }}
            </td>
            <td>
                {{ switch.user }}
            </td>
            <td>
                {{ switch.date|date:'d.m.Y H:i' }}
            </td>
        </tr>
    {% endfor %}
    </table>
{%  else %}
    <h1></h1>
{% endif %}

{% endblock content %}