{% extends 'default.html' %}

{% block content %}

<h1 style="text-align: center;">vlan {{ vlan }}</h1>
<form method="POST">
    {% csrf_token %}
    <table class="table_detail">
    <tr>
        <th style="width: 200px">Заказчик</th>
        <th style="width: 350px">Назначение</th>
        <th style="width: 200px">Точка А</th>
        <th style="width: 200px">Точка Б</th>
        <th style="width: 100px">Номер заказа</th>
        <th style="width: 70px">Скорость (Mbps)</th>
        <th>Примечание</th>
    </tr>
    <tr>
        <td>{{ form.client }}</td>
        <td>{{ form.used_for }}</td>
        <td>{{ form.point_a }}</td>
        <td>{{ form.point_b }}</td>
        <td>{{ form.order }}</td>
        <td>{{ form.speed }}</td>
        <td>{{ form.note }}</td>
    </tr>
    </table>
    <br>
    <div style="text-align: center">
        <button class="button_add_form" type="submit">Сохранить</button>
        <a class="button_cancel_form" href="javascript:window.history.back()" role="button">Отменить</a>
    </div>
</form>

{% endblock %}